{% extends 'incl/base.html' %}
{% load static %}


{% block content %}

{% include "incl/single_question.html" %}


 <hr>
    {% for comment in comments %}
        {% include "incl/answers.html" %}
    {% endfor %}
    <hr>
    <div class="row" style="text-align: left;">
        <form>
            <div class="mb-3">
                            <textarea class="form-control field" style="height: 100px;"
                                      placeholder="Enter your answer here"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-dark" style="margin: -5px 0px 15px;">Submit
            </button>
        </form>

    </div>

   {% include "incl/pagination.html" %}

{% endblock content %}